.m-label {
  font-size: 1.1rem;
  color: black;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.input-container {
  padding: 10px;
}

.m-textbox {
  width: 100%;
  border: solid 2px #d6d6d6;
  outline: 0;
  padding: 15px 25px;
  font-size: 1.2rem;
}

.custom-select-container {
  width: 100%;
  padding: 15px 30px;
  border: solid 2px #d6d6d6;
}

.select-undefault {
  width: 100%;
  border-width: 0px;
  background: white;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.select-undefault:focus {
  outline: 0;
}
