@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("./bootstrap.min.css");
@import url("./colors.css");
@import url("./elevation.css");
@import url("./mobile-only.css");
@import url("./pc-only.css");
:root {
  --default-font-family: "Google Sans", sans-serif;
}

html {
  font-family: var(--default-font-family);
  font-family: 400;
}
