@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,400i,500,600,700,900");
@import url("./bootstrap.min.css");
@import url("./colors.css");
@import url("./elevation.css");
@import url("./mobile-only.css");
@import url("./pc-only.css");
@import url("./anime.css");
:root {
  --default-font-family: "Google Sans", sans-serif;
  --page-max-flex: 12;
  --number-of-children: 3;
}

html {
  font-family: var(--default-font-family);
  font-family: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
P {
  line-height: 1.7;
}
.page-row {
  display: flex;
  flex-direction: row;
  flex: var(--page-max-flex);
}

.page-row-child {
  margin: 10px;
  flex: calc(var(--page-max-flex) / var(--number-of-children));
}

.m-column {
  display: Flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.m-page-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text-block {
  font-size: 1.18rem;
  text-align: justify;
}

.everyday-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.member-bio {
  font-size: 1.35rem;
}
