@media only screen and (max-width: 767px) {
  .vanish-on-phone {
    display: none !important;
  }

  .footer-bottom-panel {
    bottom: -70px;
  }

  .footer-bottom-panel p {
    font-size: 0.8rem;
    text-align: center;
  }

  .row {
    margin: 0px !important;
  }

  .footer-link {
    display: inline;
    margin-right: 4px;
    font-size: 0.8rem;
  }

  .footer-column-title {
    font-size: 0.9rem;
  }

  .footer-container {
    height: 600px;
  }

  .top-bar-link {
    font-size: 0.6rem !important;
  }

  .mobile-group-name {
    color: white;
  }

  .normal-menu-blanket-column {
    padding: 20px;
  }

  .student-life-link {
    color: #e8adbf !important;
    font-size: 1rem !important;
  }

  .drop-name {
    font-size: 1rem !important;
    color: #6c849c !important;
    padding-top: 10px;
    margin: 0px !important;
    padding-left: 15px;
  }

  .image-menu-card img {
    height: 60px !important;
    width: 100px !important;
    /* object-fit: cover; */
    border-radius: 4px !important;
  }

  .image-menu-card {
    margin: 10px 20px !important;
  }

  .image-menu-card p {
    color: var(--app-theme-mobile-text-color) !important;
  }

  .image-menu-card h6 {
    color: white;
  }

  .image-menu-card a {
    color: #6c849c !important;
  }
  .hero-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .hero-subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .hero-content a {
    font-size: 0.7rem !important;
    padding: 7px 25px !important;
  }
  .hero-sizing {
    height: 30vh;
  }

  .page-title {
    font-size: 1rem !important;
    margin: 10px !important;
    padding: 10px !important;
  }

  .page-title span {
    width: 80% !important;
  }

  .landing-testimonials-container {
    height: auto !important;
  }

  .l-test-card {
    box-shadow: 0 0 0 !important;
    height: 100px !important;
    width: 100vw !important;
    padding: 15px !important;
    padding-left: 15px !important;
    margin: 10px;
    min-height: 220px;
  }

  .l-test-card p {
    font-size: 0.8rem !important;
  }

  .l-test-card h5 {
    font-size: 0.9rem !important;
  }

  .l-test-image {
    top: -80px !important;
    left: 10px !important;
    height: 90px !important;
    width: 90px !important;
  }

  .arrow-svg {
    font-size: 3rem !important;
  }

  .land-fa {
    font-size: 4rem !important;
  }

  .land-h5 {
    font-size: 1.2rem !important;
  }

  .only-at-alu {
    height: 300px !important;
    margin-bottom: 15%;
  }

  .tray-number {
    font-size: 2rem !important;
  }

  .tray-item span {
    font-size: 0.7rem;
  }

  .sole-image {
    margin: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  .text-block {
    font-size: 0.9rem !important;
  }

  .image-in-view {
    height: 220px !important;
  }

  .img-item {
    width: 90px !important;
    height: 80px !important;
  }

  .image-shelf {
    min-height: 110px !important;
  }

  .academic-header {
    padding-left: 30px !important;
  }

  .academic-header span {
    font-size: 0.8rem !important;
  }

  .academic-body {
    padding: 15px !important;
    margin-bottom: 50px !important;
  }

  .row-left p,
  .row-right p {
    font-size: 0.7rem !important;
  }

  .row-left h5,
  .row-right h5 {
    font-size: 0.9rem !important;
  }

  .calendar-row {
    min-height: 35px !important;
  }

  .calendar-row-title {
    font-size: 0.8rem !important;
  }

  .team-mate-img {
    height: 160px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0% !important;
  }

  .team-member-name {
    font-size: 0.7rem !important;
    flex: 10 !important;
  }

  .member-bio {
    font-size: 0.9rem !important;
    text-align: justify;
  }

  .team-member-country {
    font-size: 0.7rem !important;
  }

  .page-title small {
    font-size: 0.85rem !important;
  }

  .m-label {
    font-size: 0.9rem !important;
  }

  .m-textbox {
    padding: 10px !important;
    font-size: 1rem !important;
  }

  .custom-select-container {
    padding: 10px !important;
  }

  .hybrid {
    padding: 6px 20px !important;
    font-size: 0.9rem !important;
  }

  .comment-item h3 {
    font-size: 1.2rem !important;
  }

  .comment-item p {
    font-size: 0.85rem !important;
  }

  .housing-image {
    width: 100% !important;
    height: 250px !important;
  }

  .mob-card-content h5 {
    font-size: 1.15rem !important;
  }

  .camp-left-img {
    height: 200px !important;
  }

  .gallery-shelf {
    width: 100%;
  }

  .gallery-img {
    margin-left: 10px !important;
    width: 160px !important;
    height: 150px !important;
  }

  .sponsor-logo {
    width: 90px !important;
    height: 70px !important;
  }
  .course-description h3 {
    font-size: 1rem;
    font-weight: bold;
  }

  .page-column {
    padding: 0px !important;
  }
}
